Alarms for $pair:

[L] $pair $timeFrame 🐂🚀 Bull Trend
$emasarSettings
Open small long position

[L] $pair $timeFrame ❌ Close Long
$emasarSettings
Close long position

[L] $pair $timeFrame 🐻☔ Bear Trend
$emasarSettings
Open small short position

[L] $pair $timeFrame ❌ Close Short
$emasarSettings
Close long position

[L] $pair $timeFrame 🏖️ Crossing Beach
$emasarSettings
Increase Position while in this area

[L] $pair $timeFrame ☀💸 Crossing Sky
$emasarSettings
Take small profits while in this area

[L] $pair $timeFrame ️🌚💰💰💰️ It's Mooning Baby!
$emasarSettings
Take big ass profits

__________________________________________________________________
